<ion-header>
  <ion-navbar style="  background-color: #049898;  box-shadow: -2px 9px 14px #0c0c0c;color:black">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Welcome to
          <strong style="color: orange"> EasyPooky</strong>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides style="background-color: #30425a">




      <!-- <p>Your dream house is just a few taps away! Select Properties in the menu to start your search.</p> -->


      <ion-card style="height: 60px;box-shadow: 12px 13px 13px #352F48;position: absolute">
<button ion-button (click)="appoinmentPage()">Appoinments</button>
          <ion-item >
              <!-- <ion-badge item-end *ngFor="let chat of chats ; let index=i" (click)="chatWorker(chat.$key)" >{{ chat.$key }} {{[chat.$key].length}} </ion-badge> <br/> -->
          </ion-item>
          

      </ion-card>
      <ion-card class="table" style="box-shadow: 12px 13px 13px #352F48;    margin-top: 89px">
          <ion-content *ngIf="userType=='User'" padding style="background-color: #ececec">
              <ion-grid  text-center style="margin: 3;">
                <ion-row  wrap style="margin: -16px;">
                  <ion-col style="background-color: transparent;" *ngFor="let item of workers"  width-40> <ion-img width="70" height="80" [src]="item.url"  (click)="openPage()"></ion-img> <strong ><p style="color: orange"> {{item.name}}</p></strong></ion-col>
                </ion-row>
              </ion-grid>
            </ion-content>

            <ion-content *ngIf="userType=='Worker'" padding style="background-color: #ececec">
                    <ion-grid  text-center style="margin: 3;">
                      <ion-row  wrap style="margin: -16px;">
                        <ion-badge item-end *ngFor="let chat of chats ; let index=i" (click)="chatWorker(chat.$key)" >{{ chat.$key }} {{[chat.$key].length}} </ion-badge> 
                      </ion-row>
                    </ion-grid>
                  </ion-content>
      



      </ion-card>
      <!-- <button ion-button (tap)="addNote()"></button> -->
  </ion-slides>
</ion-content>